<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>A</key>
  <dict>
    <key>T</key>
    <integer>-52</integer>
    <key>V</key>
    <integer>-34</integer>
    <key>Y</key>
    <integer>-31</integer>
  </dict>
  <key>B</key>
  <dict>
    <key>Y</key>
    <integer>-104</integer>
  </dict>
  <key>K</key>
  <dict>
    <key>O</key>
    <integer>-34</integer>
  </dict>
  <key>L</key>
  <dict>
    <key>O</key>
    <integer>-56</integer>
    <key>V</key>
    <integer>-109</integer>
    <key>W</key>
    <integer>-73</integer>
    <key>Y</key>
    <integer>-68</integer>
  </dict>
  <key>P</key>
  <dict>
    <key>A</key>
    <integer>-17</integer>
  </dict>
  <key>R</key>
  <dict>
    <key>Y</key>
    <integer>-56</integer>
  </dict>
  <key>T</key>
  <dict>
    <key>A</key>
    <integer>-81</integer>
  </dict>
  <key>V</key>
  <dict>
    <key>A</key>
    <integer>-25</integer>
  </dict>
  <key>Y</key>
  <dict>
    <key>A</key>
    <integer>-42</integer>
  </dict>
</dict>
</plist>
